@import "inc/fonts";
@import "../libs/bootstrap-stylus/bootstrap/variables";
@import "bootstrap/variables";
@import "inc/variables";
@import "bootstrap/mixins";
@import "inc/reset";

@import "blocks/button/button"
@import "blocks/nav/nav"
@import "blocks/social/social"
@import "blocks/svg/svg"
@import "blocks/list/list"
@import "blocks/place/place"

@import "blocks/main/main"
@import "blocks/main-party/main-party"
@import "blocks/main-ribbon/main-ribbon"
@import "blocks/main-ready/main-ready"
@import "blocks/main-cloud/main-cloud"
@import "blocks/main-phrase/main-phrase"
@import "blocks/main-prices/main-prices"
@import "blocks/main-prices-item/main-prices-item"
@import "blocks/main-how/main-how"
@import "blocks/main-how-item/main-how-item"
@import "blocks/main-next/main-next"
@import "blocks/countdown/countdown"
@import "blocks/main-run/main-run"
@import "blocks/main-winner/main-winner"
@import "blocks/main-winner-item/main-winner-item"
@import "blocks/foo/foo"
@import "blocks/foo-nav/foo-nav"

@import "blocks/winner/winner"
@import "blocks/winner-header/winner-header"
@import "blocks/winner-item/winner-item"
@import "blocks/main-personal/main-personal"
@import "blocks/main-personal-info/main-personal-info"
@import "blocks/main-table/main-table"
@import "blocks/vote/vote"
@import "blocks/popup/popup"

@import "blocks/main-countdown/main-countdown"

.layout
  min-width 320px
  max-width 100%
  overflow hidden
