footer.foo 
  .container: .row: .col-xs-12:  .foo__container
    .foo__logo #ФОТОБАЙ
    .foo__bar
      a.button.button_type_link.button_theme_black.button_size_sm.foo__button.fancy(href="#auth") Личный кабинет
      .foo__contacts
        .foo__social.social
          a.social__link(href="#"): svg.svg(width="35", height="35"): use(xlink:href="images/sprite.svg#instagram-black")
          a.social__link(href="#"): svg.svg(width="35", height="35"): use(xlink:href="images/sprite.svg#vk-black")
        a.foo__email(href="mailto:email@domen-domen.ru") email@domen-domen.ru
  .foo-nav.foo__nav: .container: .row: .col-xs-12: .foo-nav__container
    a.foo-nav__link(href="#") Главная
    a.foo-nav__link(href="#") Условия
    a.foo-nav__link(href="#") Персональная страница
    a.foo-nav__link(href="#") Участники
    a.foo-nav__link(href="#") Победители
    a.foo-nav__link(href="#") Контактная информация
    a.foo-nav__link(href="#") Документы
    a.foo-nav__link(href="#") Лицензия
    a.foo-nav__link(href="#") Соглашения
