@import "variables";

/* font-family: "FregatRegular"; */
@font-face {
    font-family: Fregat;
    src: url("../fonts/FregatRegular/FregatRegular.eot");
    src: url("../fonts/FregatRegular/FregatRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatRegular/FregatRegular.woff") format("woff"),
    url("../fonts/FregatRegular/FregatRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "FregatBold"; */
@font-face {
    font-family: Fregat;
    src: url("../fonts/FregatBold/FregatBold.eot");
    src: url("../fonts/FregatBold/FregatBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FregatBold/FregatBold.woff") format("woff"),
    url("../fonts/FregatBold/FregatBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Panton;
    src: url('../fonts/PantonRegular/panton-regular.eot');
    src: url('../fonts/PantonRegular/panton-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PantonRegular/panton-regular.woff2') format('woff2'),
         url('../fonts/PantonRegular/panton-regular.woff') format('woff'),
         url('../fonts/PantonRegular/panton-regular.ttf') format('truetype'),
         url('../fonts/PantonRegular/panton-regular.svg#pantonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url('../fonts/PantonSemibold/panton-semibold.eot');
    src: url('../fonts/PantonSemibold/panton-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PantonSemibold/panton-semibold.woff2') format('woff2'),
         url('../fonts/PantonSemibold/panton-semibold.woff') format('woff'),
         url('../fonts/PantonSemibold/panton-semibold.ttf') format('truetype'),
         url('../fonts/PantonSemibold/panton-semibold.svg#pantonsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url('../fonts/PantonBold/panton-bold.eot');
    src: url('../fonts/PantonBold/panton-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PantonBold/panton-bold.woff2') format('woff2'),
         url('../fonts/PantonBold/panton-bold.woff') format('woff'),
         url('../fonts/PantonBold/panton-bold.ttf') format('truetype'),
         url('../fonts/PantonBold/panton-bold.svg#pantonbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Panton;
    src: url('../fonts/PantonExtrabold/panton-extrabold.eot');
    src: url('../fonts/PantonExtrabold/panton-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PantonExtrabold/panton-extrabold.woff2') format('woff2'),
         url('../fonts/PantonExtrabold/panton-extrabold.woff') format('woff'),
         url('../fonts/PantonExtrabold/panton-extrabold.ttf') format('truetype'),
         url('../fonts/PantonExtrabold/panton-extrabold.svg#pantonextrabold') format('svg');
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: Panton;
    src: url('../fonts/PantonBlack/panton-black.eot');
    src: url('../fonts/PantonBlack/panton-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PantonBlack/panton-black.woff2') format('woff2'),
         url('../fonts/PantonBlack/panton-black.woff') format('woff'),
         url('../fonts/PantonBlack/panton-black.ttf') format('truetype'),
         url('../fonts/PantonBlack/panton-black.svg#pantonblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Rubl';
    src: url('../fonts/Rouble/rouble.eot');
    src: url('../fonts/Rouble/rouble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rouble/rouble.woff2') format('woff2'),
         url('../fonts/Rouble/rouble.woff') format('woff'),
         url('../fonts/Rouble/rouble.ttf') format('truetype'),
         url('../fonts/Rouble/rouble.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
