.main-personal-info
  text-align left

  &__name
    margin-bottom 25px
    font-size: 36px;
    font-weight: 800;
    line-height: 32px;

  &__edit
    font-size: 18px;
    text-decoration underline
    margin-left 40px

    &:hover,
    &:focus,
    &:active
      text-decoration none

  &__char
    margin-bottom 20px
    line-height 32px
    text-align left

    &-key
      font-size 24px
      font-weight 700

      &_line
        display block
        margin-bottom 10px

    &-val
      font-size 30px
      font-weight 800

    &-remove
      margin-left 20px
      text-decoration none

      &:hover,
      &:focus,
      &:active
        text-decoration none

    &-add
      display inline-block
      margin-top 5px
      font-size: 18px;
      font-weight: 700;
      text-decoration underline

      &:hover,
      &:focus,
      &:active
        text-decoration none
