link(rel="stylesheet", href="libs/fancybox/dist/jquery.fancybox.min.css")  
link(rel="stylesheet", href="libs/animate.css/animate.min.css")
link(rel="stylesheet", href="css/bootstrap.css")
link(rel="stylesheet", href="css/style.css")
