.main-ready
  padding-top 82px

  &__place
    padding 30px 30px 40px
    margin-bottom 15px
    color #fbf8e9
    font-family Panton
    font-size 22px
    font-weight 700
    line-height 30px
    filter: drop-shadow(4px 7px 15px rgba(135, 96, 1, 0.25));
    max-width 100%

    @media (min-width $screen-md)
      padding 20px 30px 30px

    &-1
      width 348px
      // height 80px
      background url(../images/place-1.png) center / 100% 100% no-repeat

    &-2
      width 546px
      // height 79px
      background url(../images/place-2.png) center / 100% 100% no-repeat

    &-3
      width 569px
      // height 84px
      background url(../images/place-3.png) center / 100% 100% no-repeat

    &-4
      width 569px
      // height 187px
      background url(../images/place-4.png) center / 100% 100% no-repeat

  &__title
    color #261d07
    font-size 24px
    font-weight 800
    line-height 36px

  &__desc
    color #261d07
    font-size 21px
    font-weight 700
    line-height 30px
