.main-example.main-example_mod#main-example
//- .countdown.countdown_sm
//-   .countdown__item.countdown__item_sm
//-     .countdown__number.countdown__number_sm
//-       .countdown__number_top.countdown__number_top_sm
//-       .countdown__value.countdown__value_sm 03
//-   .countdown__divider.countdown__divider_sm :
//-   .countdown__item.countdown__item_sm
//-     .countdown__number.countdown__number_sm
//-       .countdown__number_top.countdown__number_top_sm
//-       .countdown__value.countdown__value_sm 12
//-   .countdown__divider.countdown__divider_sm :
//-   .countdown__item.countdown__item_sm
//-     .countdown__number.countdown__number_sm
//-       .countdown__number_top.countdown__number_top_sm
//-       .countdown__value.countdown__value_sm 18
//-   .countdown__divider.countdown__divider_sm :
//-   .countdown__item.countdown__item_sm
//-     .countdown__number.countdown__number_sm
//-       .countdown__number_top.countdown__number_top_sm
//-       .countdown__value.countdown__value_sm 59
//-       
