.main-example#main-example


//- .countdown
//-   .countdown__item
//-     .countdown__title дни
//-     .countdown__number
//-       .countdown__number_top
//-       .countdown__value 03
//-   .countdown__divider :
//-   .countdown__item
//-     .countdown__title дни
//-     .countdown__number
//-       .countdown__number_top
//-       .countdown__value 12
//-   .countdown__divider :
//-   .countdown__item
//-     .countdown__title дни
//-     .countdown__number
//-       .countdown__number_top
//-       .countdown__value 18
//-   .countdown__divider :
//-   .countdown__item
//-     .countdown__title дни
//-     .countdown__number
//-       .countdown__number_top
//-       .countdown__value 59
      
