.main-how
  padding 75px 0 43px
  text-align center
  background-color #ffb200
  // background-image radial-gradient(circle 1115px at 44% 38%, rgba(247, 157, 0, 0.53) 0%, rgba(252, 234, 187, 0.53) 0%, rgba(248, 181, 0, 0.53) 100%)

  &__title
    margin-bottom 58px
    color #261d07
    font-family Panton
    font-size 36px
    font-weight 900
    line-height 48px
    text-transform uppercase

  &__pr
    max-width 100%
    height auto

    &-1
      margin-top 30px
    &-2
      margin-top 60px
      float left
