.main-table
  width 100%
  font-size 18px
  font-weight 700
  border 2px solid #261f11


  @media (min-width 768px)
    font-size 24px
    line-height 32px
    text-align center

  &__wrap
    overflow auto
    max-width 100%
    margin-top 26px
    margin-bottom 90px

  &__th
    padding 5px
    text-align center
    background-color #261f11
    color #fbfbfb

    @media (min-width 768px)
      padding 13px

  &__td
    padding 5px 10px
    background white
    border-left 2px solid #261f11
    border-right 2px solid #261f11

    @media (min-width 768px)
      padding 15px 10px

  &__icon
    display none
    margin-right 10px
    position relative
    top -5px

    @media (min-width 768px)
      display inline-block

  &__button
    display block
    width 100%
    margin-bottom 20px
