.main-party
  h2.main-party__title скупка селфи — дорого!
  .main-party__buttons: a.button.button_size_md.button_type_link.button_theme_lime.main-party__button(href="#") участвовать
  ul.list
    li.list__item Здесь нет бональных розыгрышей 
      br
      | по принципу случайного отбора
    li.list__item Тебе не надо надеяться на удачу
