.winner
  padding-bottom 320px
  background-color: #ffb200;
  background-image: radial-gradient(circle 1209px at 44% 38%, rgba(247, 157, 0, 0.53) 0%, rgba(252, 234, 187, 0.53) 0%, rgba(248, 181, 0, 0.53) 100%);
  color #261d07

  &__title
    margin-bottom 5px
    text-align center
    font-size 24px
    font-weight 700
    text-transform uppercase

    @media (min-width $screen-sm)
      font-size 36px
      margin-bottom 10px

  &__name
    margin-bottom 15px
    text-align center
    font-size 30px
    font-weight 900

    @media (min-width $screen-sm)
      font-size 60px
      margin-bottom 35px

  &__pr
    width 100%
    height auto
    margin-bottom 30px

  &__points
    text-align center

    &-icon
      margin-right 15px
      position relative
      top -10px

    &-count
      font-size 36px
      font-weight 700
      line-height 32px

  &__price
    margin-bottom 10px
    font-size 40px
    font-weight 900
    text-align center

    @media (min-width $screen-sm)
      font-size 100px

    .rubl
      font-weight 800

  &__social
    display flex
    align-items center
    justify-content center
    margin-bottom 70px

    &-title
      margin-right 20px
      font-size 21px
      font-weight 700
      line-height 30px
      text-transform uppercase

  &__button
    display block
    width 100%
    padding 20px
    margin-top 62px
    border-radius 35px
