.main-ribbon
  padding-top 10px
  padding-bottom 3px
  color #261d07

  @media (max-width ($screen-md - 1px))
    br
      display none
      
  &__title
    font-size 30px
    font-weight 800
    line-height 36px
    text-transform uppercase

  &__slogan
    margin-bottom 15px
    font-size 21px
    font-weight 700
    line-height 30px

    &-2
      text-transform uppercase
      font-weight 800
