nav.nav: .container: .row: .col-xs-12: .nav__container
  div
    button.nav__trigger.visible-xs
      span
      span
      span
    ul.nav__list
      li.nav__item: a.nav__link(href="#") Главная
      li.nav__item: a.nav__link(href="#") Условия
      li.nav__item: a.nav__link(href="#") Участники
      li.nav__item: a.nav__link(href="#") Победители
      li.nav__item: a.nav__link(href="#") Контактная информация
  a.nav__button.button.button_theme_sun.button_type_link.button_size_sm.fancy(href="#auth") Личный кабинет
    
