.list
  padding 0
  margin 0
  list-style-type none
  color #261d07
  font-family Panton
  font-size 24px
  font-weight 700
  line-height 30px
  text-align left

  @media (max-width ($screen-md - 1px))
    br
      display none

  &__item
    position relative
    padding-left 70px
    margin-bottom 14px

    &:before
      content ""
      position absolute
      top 2px
      left 0
      display block
      width 28px
      height 23px
      background url(../images/check.svg)
