.main-winner
  padding 80px 0 60px
  background white
  color #261d07
  text-align center

  &__title
    margin-bottom 70px
    font-size 36px
    font-weight 900
    line-height 32px
    text-transform uppercase

  &__button
    display block
    width 100%
