.place

  padding 15px 25px
  // box-shadow 4px 7px 15px rgba(135, 96, 1, 0.25)
  // border 10px solid #ffb200
  color #fbf8e9
  font-family Panton
  font-size 22px
  font-weight 700
  line-height 30px

  &__inner_theme

    &_red



        // transform: perspective(224px) rotateY(-10deg);

// @css {
//   .place__inner_theme_red {
//     transform: rotateY(-20deg);
//   }
//
//   .place_theme_red {
//     background-color: #ee0f39;
//     transform: perspective(400px) rotateY(-20deg);
//   }
//
//   .place_theme_green {
//     background-color: #009627;
//     transform: perspective(224px) rotateY(-10deg);
//   }
// }
